.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: grey;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 700;
    margin: 30px 170px;
    text-transform: capitalize;
    font-family: "Playfair Display SC", serif;
    font-style: normal;
}